ul {
  list-style-type: none;
  padding-inline-start: 0;
}
ul li {
  background-color: #8ee8a9;
  margin-top: 12px;
  padding: 12px;
  border-radius: 20px;
}
.container {
  width: 500px;
  margin: 0 auto;
}
.complete {
  text-decoration: line-through rgb(27, 93, 217);
  text-decoration-thickness: 3px;
  color: dimgrey;
  /* text-decoration-color: ; */
}
.foot {
  display: flex;
  justify-content: space-around;
  background-color: #87d2d8;
  border-radius: 4px;
}

a {
  font-size: 16px;
  color:rgb(11, 36, 80);
  display: block;
  text-align: center;
  flex: 1 1 100px; 
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}
a:visited {
  background-color: #19b5ed;
  color: white;
}
a .info {
  flex: 1 1 200;
}
.active {
  background-color: rgb(225, 210, 205);
}
.inlineSty {
  display: inline;
}
.liSty {
  font-size: 16px;
}
.liSty .delBtnForm {
  visibility: hidden;
  float: right;
  margin-right: 20px;
  margin-top: -4px;
}
.liSty:hover .delBtnForm {
  visibility: visible;
}
button {
  border-style: none;
}
.delBtnForm button[type="submit"] {
  font-size: 36px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  line-height: 32px;
}

.todoTitle {
  font-size: 20px;
  text-align: center;
}
.textInput {
  line-height: 32px;
  width: 70%;
  font-size: 18px;
}

